#mainContentArea2{
    display: flex;
    position: relative;
    height: 90%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
}
h1{
    color:rgb(100,100,100);
    font-size: 1.2em;
}
@media only screen and (max-width:550px){
    *{
     
        font-size: 0.96em;
    }
}